<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>image Card</title>
    <link rel="stylesheet" type="text/css" href="../../css/components/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/components/imageCard/_imageCard.css">
  </head>
  <body>
    <div class="imageCard">
      <div class="mediaContainer">
        <div class="head">
          <div class="imageProfile">
            <img src="../../images/avatar.png" alt="">
          </div>
          <h1>
            <span class="username">gerardosoriano97</span>
          </h1>
          <span class="fa fa-ellipsis-v"></span>
        </div>
        <div class="icons">
          <ul>
            <li>
              <span class="fa fa-heart"></span>
              <span class="likes">25</span>
            </li>
            <li>
              <span class="fa fa-comments"></span>
              <span class="comments">25</span>
            </li>
          </ul>
        </div>
        <div class="image">
          <img src="../../images/post.jpg" alt="">
        </div>
      </div>
    </div>
  </body>
</html>
