@import "../global";
@import "../fonts";
.imageCard{
  width: 618px;
  min-width: 618px;
  max-width: 618px;
  height: 400px;
  min-height: 400px;
  max-height: 400px;
  position: relative;
  float: left;
  overflow: hidden;
  padding-bottom: 6px;
  margin-bottom: 10px;
  .mediaContainer{
    @extend .default_values;
    background-color: white;
    border: 2px solid #e3e3e3;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    .head{
      width: 100%;
      height: 20%;
      overflow: hidden;
      flex: none;
      display: flex;
      align-items: center;
      .imageProfile{
        width: 75px;
        max-width: 75px;
        height: 75px;
        overflow: hidden;
        border: 2px solid white;
        border-radius: 50%;
        flex-grow: 2;
        img{
          width: auto;
          height: auto;
          max-width: 100%;
        }
      };
      h1{
        color: #333;
        flex-grow: 2;
        font-family: _Josefin_Sans_;
        user-select: none;
        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }
      >span{
        flex-grow: 1;
        text-align: right;
        font-size: 30px;
        padding: 0 10px;
        color: #333;
        &:hover{
          color: #999;
        }
      }
    }
    .icons{
      width: 20%;
      height: 80%;
      display: flex;
      flex: none;
      ul{
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        li{
          list-style: none;
          width: 100%;
          flex: none;
          display: flex;
          flex-wrap: wrap;
          text-align: center;
          span{
            flex: none;
            width: 100%;
            font-size: 30px;
            color: #333;
            &.fa:hover{
              color: #999;
            }
            &.comments,&.likes{
              cursor: default;
              user-select: none;
              font-family: _Josefin_Sans_;
            }
          }
        }
      }
    }
    .image{
      width: 80%;
      height: 80%;
      overflow: hidden;
      text-align: center;
      background-color: #f3f3f3;
      border: 2px solid #e3e3e3;
      border-radius: 5px;
      flex: none;
      img{
        width: auto;
        height: auto;
        min-height: 100%;
        max-height: 100%;
      }
    }
  }
}
